

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  flex-wrap: wrap;

  background-color: black;

 }




.nav-links {
  display: flex;
  gap: 20px;

}

.nav-links a, .burger {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;

}

.burger {
  display: none;
   cursor: pointer;
}


.nav-links a:hover,.burger:hover {
   background-image: linear-gradient(#353535, black);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000;
    z-index: 9;
  }

  .nav-links a {
    text-align: left;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-bar {
    position: relative;
    flex-direction: row;
  }
}
